In [48]:
import pandas as pd

In [49]:
df = pd.read_excel('../data/processed/DOE_Stage_2.xlsx')

In [50]:
df.head()

,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected
0,January,2011-01-26,09:25:00,2011-01-27,17:50:00,"Carson City, Nevada",WECC,Unknown,Cyber Event,0,0
1,February,2011-02-03,14:30:00,2011-02-03,18:00:00,"Bowie, Maryland",RFC,Unknown,Cyber Event,NaN,0
2,February,2011-02-17,13:00:00,2011-02-23,20:30:00,"Roseville, California",WECC,Unknown,Cyber Event,0,0
3,March,2011-03-14,07:30:00,2011-03-14,14:15:00,"Baltimore, Maryland",RFC,Unknown,Cyber Event,NaN,NaN
4,April,2011-04-03,20:23:00,2011-04-05,11:00:00,Unknown,SERC,Unknown,Cyber Event,0,0

In [51]:
col = df.columns.tolist()
df = df.rename(str.lower, axis='columns')

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3892 entries, 0 to 3891
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   month                         3892 non-null   object
 1   date event began              3892 non-null   datetime64[ns]
 2   time event began              3892 non-null   object
 3   date of restoration           3892 non-null   datetime64[ns]
 4   time of restoration           3892 non-null   object
 5   area affected                 3892 non-null   object
 6   nerc region                   3892 non-null   object
 7   alert criteria                3890 non-null   object
 8   event type                    3892 non-null   object
 9   demand loss (mw)              2419 non-null   object
 10  number of customers affected  3156 non-null   object
dtypes: datetime64[ns](2), object(9)
memory usage: 334.6+ KB

In [56]:
df['Start_datetime'] = pd.to_datetime(df['date event began'] + ' ' + df['time event began'])

TypeError: unsupported operand type(s) for +: 'DatetimeArray' and 'str'

In [386]:
df.head()

,month,date event began,time event began,date of restoration,time of restoration,area affected,nerc region,alert criteria,event type,demand loss (mw),number of customers affected
0,January,2011-01-26,09:25:00,2011-01-27,17:00:00,"Carson City, Nevada",WECC,Unknown,Cyber Event,0,0
1,February,2011-02-03,14:30:00,2011-02-03,14:30:00,"Bowie, Maryland",RFC,Unknown,Cyber Event,NaN,0
2,February,2011-02-17,13:00:00,2011-02-23,16:53:00,"Roseville, California",WECC,Unknown,Cyber Event,0,0
3,March,2011-03-14,07:30:00,2011-03-14,16:55:00,"Baltimore, Maryland",RFC,Unknown,Cyber Event,NaN,NaN
4,April,2011-04-03,20:23:00,2011-04-05,15:00:00,Unknown,SERC,Unknown,Cyber Event,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3892 entries, 0 to 3891
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   month                         3892 non-null   object
 1   date event began              3892 non-null   datetime64[ns]
 2   time event began              3892 non-null   object
 3   date of restoration           3892 non-null   datetime64[ns]
 4   time of restoration           0 non-null      datetime64[ns]
 5   area affected                 3892 non-null   object
 6   nerc region                   3892 non-null   object
 7   alert criteria                3890 non-null   object
 8   event type                    3892 non-null   object
 9   demand loss (mw)              2419 non-null   object
 10  number of customers affected  3156 non-null   object
dtypes: datetime64[ns](3), object(8)
memory usage: 334.6+ KB

In [ ]:
df.head()

,month,date event began,time event began,date of restoration,time of restoration,area affected,nerc region,alert criteria,event type,demand loss (mw),number of customers affected
0,January,2011-01-26,09:25:00,2011-01-27,NaT,"Carson City, Nevada",WECC,Unknown,Cyber Event,0,0
1,February,2011-02-03,14:30:00,2011-02-03,NaT,"Bowie, Maryland",RFC,Unknown,Cyber Event,NaN,0
2,February,2011-02-17,13:00:00,2011-02-23,NaT,"Roseville, California",WECC,Unknown,Cyber Event,0,0
3,March,2011-03-14,07:30:00,2011-03-14,NaT,"Baltimore, Maryland",RFC,Unknown,Cyber Event,NaN,NaN
4,April,2011-04-03,20:23:00,2011-04-05,NaT,Unknown,SERC,Unknown,Cyber Event,0,0